*{
    margin:0;  
    padding:0;
    box-sizing:border-box; 

}
body{
  
  background-image:url("./image_project/base_8.png");
  background-size:cover;
  background-repeat:no-repeat;
  background-position:center;
  font-family:Arial,sans-serif;
  background-attachment:fixed; 

}
.border{
    width:33%;
    height:195px;
    background:rgba(0,0,0,0.6);
    backdrop-filter:blur(10px);
    margin-left:33%;
    margin-top:6%;
    border-radius:20px;
    
}
.botton_border{ 
    background-color:rgba(0, 128, 0, 0.747);
    margin-left:0;
    width:40%;
    font-size:20px;
    margin-bottom:15px;
    border-radius:15px;
    



}

.botton_border_0{
    background-color:rgba(0, 128, 0, 0.582);
    margin-left:19.11%;
    width:40%;
    font-size:20px;
    border-radius:15px;


}
.a{
    width:20%;
    height:385px;
    background-color:rgba(9, 30, 223, 0.075);
    margin-top:-35%;
    margin-left:40%;
    

}   
.background_01{
    position:relative;


    filter: brightness(0);
}
.background_01 img{
    position:absolute;




}
.score{
    margin-left:5%;
    margin-top:15px;
    color:rgb(255, 0, 43);
    
}
.aa{
    margin-top:-10px;
    margin-left:1px;
    display: flex;
    font-size:20px;
    background-color:rgba(0, 128, 0, 0.582);
    border-radius:5px;

}
#days{
    margin-top:5px;
    font-size:26px;
    

}
.days_1{
    margin-left:70%;


}
.bb{
    margin-top:5px;
    display: flex;
    font-size:20px;
    background-color:rgba(0, 128, 0, 0.582);
    border-radius:5px;

}
.days11{
    margin-left:50%;
    margin-top:0;
    
}

.cc{
    margin-top:5px;
    display:flex;
    font-size:20px;
    background-color:rgba(0, 128, 0, 0.582);
    border-radius:5px;
}
#days_2{
    font-size:26px;
}
.days22{
    margin-left:70%;
}


.background_1{
    margin-top:-96px;
    width:389px;
    margin-left:470px;
}
.background{
    margin-top:-96px;
    width:389px;
    margin-left:-393px;
    filter:brightness(0);



}



.energy{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background:rgba(255, 0, 0, 0.2);
    -webkit-mask:
    url('./image_project/gg.png') no-repeat center;
    -webkit-mask-size:contain;
    mask:url('./image_project/gg.png')no-repeat center;
    mask-size:contain;
    pointer-events: none;
}
.error{
    background-color:rgba(0, 128, 0, 0);
    border-color: rgb(226, 43, 67);
    font-size:20px;
    margin-left:40%;
    margin-top:5PX;
    border-radius:9px;
    height:26px;
    

}




#h_2{
    margin-top:0;
    background-color:rgb(238, 255, 3);    
    margin-top:55%;
    height:36px;
    text-align:center; 
    font-size:36px;

}
h1{
    text-align:center;  
}

.card{
    width:210px;
    
    margin-left:-66px;
    margin-top:-107px;
   
}
#namber_card{
    margin-top:-187px;
    margin-left:16px;
    font-size:38px;
}

.card-background{
    background-color:rgba(255, 217, 0, 0.678);
    backdrop-filter:blur(20px);
    width:19.8%;
    height:100px;
    border-radius:0px;
    margin-left:-1px;
    margin-top:0.4px;

}
.days_001{
    margin-left:50%;
    margin-top:-66%;
}
#days_1{
    font-size:30px;
}
.creat_ursalf{
    margin-left:-34.4%;
    margin-top:30px;
}
#button_ursalf{
    border-radius:5px;
    margin-top:0;
    font-size:18px;
    color:gold;
    background-color:rgba(0, 0, 0, 0.13);
    width:272.9px;
    margin-left:25%;
}

.top-menu-container{
    position:relative;
    background-color:rgb(195, 228, 9);
    padding:4px 50px;
}


.topMenu{
    display:flex;
    gap:10px;
    overflow-x:auto;
    scroll-behavior:smooth;

    
    scrollbar-width:none;
}
.topMenu::-webkit-scrollbar{
    display:none;
}

.topMenu button{
    flex:0 0 auto;
    min-width:260px;
    height:45px;
    font-size:18px;
    border-radius:8px;
    border:none;
    background-color:rgba(33, 172, 28, 0.7);
    cursor:pointer;
    transition:0.3s;
}

.topMenu button:hover{
    background-color:rgba(33, 172, 28, 1);
    transform:scale(1.05);
}


.scroll-left,
.scroll-right{
    position:absolute;
    top:50%;
    transform:translateY(-50%);
    width:40px;
    height:40px;
    background-color:#222;
    color:white;
    border:none;
    border-radius:50%;
    font-size:18px;
    cursor:pointer;
    z-index:10;
    opacity:0.8;
}

.scroll-left:hover,
.scroll-right:hover{
    opacity:1;
}

.scroll-left{ left:5px; }
.scroll-right{ right:5px; }


.popup{
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background:rgba(0, 0, 0, 0.808);
    display:none;
    justify-content:center;
    align-items:center;
}

.popup-content{
    background:white;
    padding:20px;
    border-radius:10px;
    width:600px;
    text-align:center;
    font-size:20px;
    background-color:rgb(9, 255, 0);
}
.save_1{
    min-width:12%;
    height:30px;
    font-size:20px;
    border-radius:5px;


}
.save_2{
    min-width:12%;
    height:30px;
    font-size:20px;
    border-radius:5px;

}

textarea{
    width:100%;
    height:120px;
    margin:10px 0;
}
#message{
    font-size:20px;
}
.popup{
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;

    background:rgba(0,0,0,0.5);

    display:none; /* 👈 مخفي حتى تضغط */
    justify-content:center;
    align-items:center;
}

.popup1{
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;

    background:rgba(0,0,0,0.5);

    display:none; /* 👈 مخفي */
    justify-content:center; /* 👈 توسيط أفقي */
    align-items:center;     /* 👈 توسيط عمودي */
}

.popup-content1{
    background:rgba(7, 242, 250, 0.678);
    padding:20px;
    border-radius:10px;
    width:300px;
    text-align:center;

    box-shadow:0 0 20px rgba(0,0,0,0.3);
}

#savedText{
    font-size:18px;
    margin:15px 0;
}

.popup-content1 button{
    padding:8px 15px;
    border:none;
    border-radius:5px;
    background-color:#333;
    color:white;
    cursor:pointer;
}

.history-box{
    position: fixed;
    top: 53px;
    left: 83%;

    width: 240px;
    height: 300px;

    background: #fffef8;
    border-radius: 3px;
    padding: 10px;

    box-shadow: 0 5px 15px rgba(0,0,0,0.2);

    display: flex;
    flex-direction: column;
}

/* عنوان */
.history-box h3{
    text-align: center;
    margin-bottom: 10px;
    font-size: 30px;
    color:red;

    
}

/* المحتوى */
.history-content{
    flex: 1;
    overflow-y: auto;

    padding: 5px;
    font-size: 14px;
    line-height: 28px;

    /* خطوط مثل الدفتر */
    background: repeating-linear-gradient(
        to bottom,
        #dfd390,
        #fffef8 26px,
        #dfb2b2 27px
    );
}

/* النص */
.history-content p{
    margin: 0;
    white-space: pre-wrap;
    scroll-behavior: smooth;
    font-size:17px;
    color:red;

}

/* Scroll جميل */
.history-content::-webkit-scrollbar{
    width:5px;
}

.history-content::-webkit-scrollbar-thumb{
    background:#bbb;;
    border-radius:10px;
}